HELP.md
**/target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

**/digest.txt

**/repomix-output.xml
.repomixignore

services/platform-java/.env

uploads/

mongo_data/
pg_data/

**/logs/

**/diff.txt

# 忽略部署配置
deploy/.deploy_env

**/log.txt

raw_dict/

platform.iml

shixi.md

todo-list.md

tmp.md