HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

**/digest.txt

**/repomix-output.xml
.repomixignore

.env

uploads/

mongo_data/
pg_data/

logs/
prometheus_data/
grafana_data/

**/diff.txt

# 忽略部署配置
.deploy_env

**/log.txt

mongo_backup/

platform_db_backup.sql

sync-sidecar/sync-sidecar-linux

sync-sidecar/sidecar-image.tar.gz

docker-compose-local.yml
test_avatar.jpg

arthas-boot.jar
arthas-output/

es_data/

raw_dict/

platform.iml