# application-dev.yml
spring:
  # --- 数据库连接 (PostgreSQL) ---
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/platform_db?currentSchema=public
    username: postgres # 你的本地 PG 用户名
    password: 123456 # 你的本地 PG 密码

  # --- Redis 连接 ---
  data:
    mongodb:
      # 格式: mongodb://用户名:密码@主机:端口/库名
      # 如果没有密码: mongodb://localhost:27017/platform_db
      uri: mongodb://localhost:27017/rednote
    redis:
      host: localhost
      port: 6379
      database: 0
      password: # 本地通常没密码，有则填

# --- 阿里云 OSS 配置 (开发环境可能用测试 Bucket) ---
aliyun:
  oss:
    endpoint: oss-cn-shenzhen.aliyuncs.com
    access-key-id: 你的Key
    access-key-secret: 你的Secret
    bucket-name: szu-redbook-dev

# --- 微信小程序配置 ---
wechat:
  appid: 你的AppID
  secret: 你的Secret

mybatis-plus:
  # 如在 resources/mapper 下写 xml
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.szu.afternoon3.platform.entity
  configuration:
    # 开启控制台 SQL 日志打印
    # 调试的时候，控制台会打印出：==>  Preparing: SELECT id, ... FROM users WHERE ...
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    # 开启驼峰命名自动转换（默认通常是开启的，显式写出来更安心）
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      # 全局逻辑删除配置（配合你的 @TableLogic）
      logic-delete-value: 1
      logic-not-delete-value: 0
