spring:
  # --- 数据库连接 (PostgreSQL) ---
  datasource:
    driver-class-name: org.postgresql.Driver
    # 引用环境变量 DB_URL
    url: ${DB_URL:jdbc:postgresql://localhost:5432/rednote-mongodb?currentSchema=public}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  mail:
    host: ${MAIL_HOST}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    default-encoding: UTF-8
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: true # 163 推荐使用 SSL (端口 465)
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory

  # --- NoSQL & Cache ---
  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017/rednote}
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      database: 0
      password: ${REDIS_PASSWORD:} # 默认为空

# --- 阿里云 OSS ---
aliyun:
  oss:
    enable: true  # 设置为 false 启用本地 Mock 模式
    endpoint: ${ALIYUN_OSS_ENDPOINT:oss-cn-shenzhen.aliyuncs.com}
    access-key-id: ${ALIYUN_ACCESS_KEY_ID}
    access-key-secret: ${ALIYUN_ACCESS_KEY_SECRET}
    bucket-name: ${ALIYUN_BUCKET_NAME}
file:
  upload:
    path: ./uploads/  # 文件存放在项目根目录的 uploads 文件夹
    base-url: http://localhost:8080/uploads/ # 返回给前端的 URL 前缀
# --- 微信小程序配置 ---
wechat:
  appid: ${WECHAT_APPID}
  secret: ${WECHAT_SECRET}

# --- MyBatis Plus  ---
mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.szu.afternoon3.platform.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-value: 1
      logic-not-delete-value: 0