spring:
  datasource:
    # PostgreSQL 驱动
    driver-class-name: org.postgresql.Driver
    # JDBC URL (注意：如果你是用 Docker Compose 启动的，本地调试写 localhost:5432)
    url: jdbc:postgresql://localhost:5432/redbook?currentSchema=public&useSSL=false
    username: postgres
    password: your_password # 【记得修改】你 docker-compose 里设置的密码

  data:
    redis:
      host: localhost
      port: 6379
      password: your_redis_password # 【记得修改】如果没有密码就注释掉
      database: 0

# MyBatis-Plus 开发环境特有配置
mybatis-plus:
  configuration:
    # 【调试神器】将 SQL 打印到控制台，方便你查看实际执行的 SQL
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# 日志级别控制
logging:
  level:
    com.szu.afternoon3.platform: debug # 你的包名，开启 debug 日志
